# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
cmake-build-debug/
lib/

# Other files and folders
.settings/
.idea/
.vscode/
target/

# Executables
*.swf
*.air
*.ipa
*.apk
*.iml
*.exe
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.